---
import type { CollectionEntry } from "astro:content";

export const formatDate = (date: Date) => {
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "long",
    day: "numeric",
  };

  return new Date(date).toLocaleDateString(undefined, options);
};

const { post } = Astro.props;

interface Props {
  post: CollectionEntry<"blog">;
}
---

<div class="blog-link max-w-md mx-auto mt-10 flex flex-col">
  <h3
    class="text-3xl hover:text-yellowColor hover:scale-y-110 transition-all duration-200"
  >
    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
  </h3>
  <small class="mt-2">{formatDate(post.data.pubDate)}</small>
  <p class="text-lg mt-4">{post.data.description}</p>
  <a
    class="mt-4 text-xl hover:text-yellowColor hover:scale-y-110 transition-all duration-200"
    href={`/blog/${post.slug}`}>Read more</a
  >
</div>

<style>
  .blog-link a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #cf5c36;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
</style>
